.container-nav{
    background-color: rgba(100,44,28,0.3);
    min-height: 40px;
}

/* .container-nav-menu{
    display: flex;
    justify-content: right;
}

.imagen-menu{
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
} */

.contenedor-nav-menu-links{
    display: none;
}

@media (min-width: 650px) {

    .container-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(100,44,28,0.3);
    }

    .imagen-menu{
        display: none;
    }

    .contenedor-nav-menu-links{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .contenedor-nav-menu-links a{
        text-decoration: none;
        color: white;
        font-size: clamp(18px, 2vw, 20px);
        padding: 2px 5px;
    }

    .contenedor-nav-menu-links a:hover{
        color: black;
        background-color: white;
    }

    .contenedor-nav-menu-links .contacto{
        border: solid 2px white;
    }

    .contenedor-nav-menu-links .contacto:hover{
        border: solid 2px rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }

}