.container-contacto{
    color: white;
    padding: 30px 15px 0 0;
    width: 100%;
    padding-left: 10px;
    max-width: 1200px;
    padding-top: 50px;
}

.contenedor-elementos-contacto{
    padding: 30px 0px;
    padding-left: 20px;
}

.contenedor-elementos-contacto p{
    text-align: justify;
    margin-bottom: 20px;
    font-size: clamp(13px, 4vw, 17px);
}

.contenedor-contacto-redes{
    display: flex;
    gap: 30px;
}

.contenedor-contacto-redes img{
    min-width: 25px;
    width: 5vw;
    max-width: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.contenedor-contacto-redes img:hover{
    filter: drop-shadow(0 0 5px rgb(255, 0, 0));
}

@media (min-width: 650px){
    .container-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    .contenedor-elementos-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .contenedor-elementos-contacto p{
        max-width: 610px;
    }
}

@media (min-width: 1000px){
    .contenedor-elementos-contacto{
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-auto-rows: 100px; 
        grid-template-areas: 
        "con1 con2"
        "con3 con2"
        ". con2"
        ". con2"
        ;
        align-items: flex-start;
        padding-left: 100px;
        padding-right: 100px;
    }

    .contenedor-elementos-contacto p{
        grid-area: con1;
    }

    .contenedor-formulario{
        grid-area: con2;
        margin: 0;
        justify-self: center;
        width: 90%;
    }

    .contenedor-contacto-redes{
        grid-area: con3;
        align-self: center;
    }
}