.contenedor-formulario{
    margin-top: 20px;
    background-color: #332f2fe3;
    border-radius: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-width: 214px;
    max-width: 540px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.597));
    height: 100%;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario #error{
    font-size: 13px;
    color: red;
    margin: 0;
}

input{
    width: 95%;
    margin-top: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 360px;
}

#motivo{
    width:95%;
    height: 100px;
    resize: none;
    margin-top: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 360px;
}

label{
    cursor: pointer;
    margin-top: 15px;
}

.enviar{
    padding: 2px 10px;
    font-weight: 800;
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid 2px white;
    cursor: pointer;
    font-size: clamp(14px, 4vw, 14px);
    width: 25%;
    min-width: 75px;
    margin-top: 15px;
}

.enviar:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

@media (min-width: 650px){

    .contenedor-formulario{
        justify-content: flex-start;
        align-items: center;
    }

    .formulario{
        width: 70%;
    }
    
    label{
        text-align: center;
    }

    input{
        align-self: center;
    }

    #motivo{
        align-self: center;
    }

    .enviar{
        width: 35%;
        align-self: center;
        font-size: clamp(14px, 4vw, 14px);
    }
}