.contenedor-pie-pagina{
    font-size: clamp(8px, 1.5vw, 12px);
    padding: 10px 0px;
    width: 100%;
    padding-left: 10px;
}

.contenedor-pie-pagina-modo-claro{
    color: black;
}

.contenedor-pie-pagina-modo-oscuro{
    color: white;
}

@media (min-width: 650px){
    .contenedor-pie-pagina{
        text-align: center;
    }
}