.container-tecnologias{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px;
    width: 100%;
    max-width: 1200px;
    padding-left: 10px;
    padding-top: 50px;
}

.container-tecnologias-modo-claro{
    color: black;
}

.container-tecnologias-modo-oscuro{
    color: white;
}


.contenedor-componentes-tec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 650px){
    .container-tecnologias{
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 900px){
    .contenedor-componentes-tec{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 200px;
        align-items: center;
        grid-template-areas: 
        "tec1 tec2"
        "tec3 tec4"
        "tec5 tec5"
        ;
    }

    /* .container-tecnologias-item:nth-child(5){  //otra opcion para organizar el grid sin el template areas
        grid-row: 3/4;
        grid-column: 1/3;
    } */

    .container-tecnologias-item:nth-child(1){
        grid-area: tec1;
    }

    .container-tecnologias-item:nth-child(2){
        grid-area: tec2;
    }

    .container-tecnologias-item:nth-child(3){
        grid-area: tec3;
    }

    .container-tecnologias-item:nth-child(4){
        grid-area: tec4;
    }

    .container-tecnologias-item:nth-child(5){
        grid-area: tec5;
    }
}

