:root{
    --color-fondo-primario: linear-gradient(
        180deg,
        rgba(142,14,0,1) 0%,
        rgba(31,28,24,1) 100%
    );
    --color-fondo-segundario: linear-gradient(
        0deg,
        rgba(142,14,0,1) 0%,
        rgba(31,28,24,1) 100%
    );
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inria Serif", serif;
    scroll-behavior: smooth;
}

.App{
    min-width: 320px;
}

.header{
    background-color: rgba(142, 14, 0, 0.938);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.main{
    background: var(--color-fondo-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.seccion-estudios{
    background: var(--color-fondo-segundario);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;
}

.seccion-tecnoligias{
    background: var(--color-fondo-primario);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;
}

.seccion-contacto{
    background: var(--color-fondo-segundario);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;
}

.footer{
    background: var(--color-fondo-primario);
    display: flex;
    padding: 0 10px;
    align-items: center;
}
