:root{
    --color-fondo-primario-modoOscuro: linear-gradient(
        180deg,
        rgba(142,14,0,1) 0%,
        rgba(31,28,24,1) 100%
    );
    --color-fondo-segundario-modoOscuro: linear-gradient(
        0deg,
        rgba(142,14,0,1) 0%,
        rgba(31,28,24,1) 100%
    );

    --color-fondo-primario-modoClaro: linear-gradient(
        180deg,
        rgba(255,255,255,1) 0%,
        rgb(131, 131, 131) 100%
    );
    --color-fondo-segundario-modoClaro: linear-gradient(
        0deg,
        rgba(255,255,255,1) 0%,
        rgb(131, 131, 131) 100%
    );


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inria Serif", serif;
    scroll-behavior: smooth;
}

.App{
    min-width: 320px;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header-modo-claro{
    background-color: rgba(73, 72, 72, 0.882);
}

.header-modo-oscuro{
    background-color: rgba(138, 18, 18, 0.882);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.seccion-estudios{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;
}

.seccion-tecnoligias{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;
}

.seccion-contacto{
    background: var(--color-fondo-segundario-modoOscuro);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;
}


.footer{
    background: var(--color-fondo-primario-modoOscuro);
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.modo-oscuro-primario{
    background: var(--color-fondo-primario-modoOscuro);

}

.modo-claro-primario{
    background: var(--color-fondo-primario-modoClaro);
}

.modo-oscuro-segundario{
    background: var(--color-fondo-segundario-modoOscuro);

}

.modo-claro-segundario{
    background: var(--color-fondo-segundario-modoClaro);
}


